# Belső dokumentációk, leírások, nyers asset-ek és archívumok (SOHA nem kerülnek fel Git-re)
_docs_and_raw_assets/
_internal/
_docs/

# Utasítások és csomagok
*.md
*.zip
Logó/

# OS & Temp fájlok
.DS_Store
Thumbs.db
.vscode/
.idea/
